﻿@{
    ViewBag.Title = "پنل مشتری";
    Layout = "~/Views/Shared/_ControlPanel.cshtml";
}

<div id="content-wrapper">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">درخواست های بار</span>
        </div>
        <div class="panel-body">
            <div class="table-primary" id="tbll">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th id="RequestId" style="display:none">شماره</th>
                            <th>نام باربری</th>
                            <th>قیمت</th>
                            <th>نوع بار</th>
                            <th>وزن بار</th>
                            <th>آدرس مبدا</th>
                            <th>آدرس مقصد</th>
                            <th>وضعیت درخواست</th>
                        </tr>
                    </thead>
                    <tbody id="requestTbl">
            
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<script>
    init.push(function () {
        $('#jq-datatables-example').dataTable();
        $('#jq-datatables-example_wrapper .table-caption').text('Some header text');
        $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Search...');

            $.ajax({
                type: "POST",
                url: '@Url.Action("customerhomedetail", "CustomerHome")',
                dataType: 'html',
                success: function (data) {
                    if (data != null && data != "") {
                        var data = JSON.parse(data);
                        var html ="";
                        var stat="";
                        var s = "";
                       // alert(JSON.stringify(data));
                        for (var i = 0; i < data.length; i++) {
                            if(data[i].status==0){
                                s="در انتظار تایید";
                               // stat= + ' <input type="button" class="btn btn-danger btn-lg" value="لغو درخواست" />'; 
                            }else if(data[i].status==1){
                                s="تایید شده";
                            }else{
                                s="لغو شده";
                            }
                            html += ' <tr class="gradeU">'
                                        + '<td style="display:none">'+data[i].requestid+'</td>'
                                        + '<td>'+data[i].porterageName+'</td>'
                                        + '<td>'+data[i].Price+'</td>'
                                        + '<td>'+data[i].PackType+'</td>'
                                        + '<td>'+data[i].VehicleName[0].Vehicle_Weight+'</td>'
                                        + '<td>'+data[i].SourceDesti[0].SourceAddress+'</td>'
                                        + '<td>'+data[i].SourceDesti[0].destiAddress+'</td>'
                                        + '<td>'+s+'</td>'
                                  + ' </tr>';
                            
                        }
                        $('#requestTbl').html(html);
                      //  alert(JSON.stringify(data));
                    } else {
                        $('#tbll').html("درخواستی وجود ندارد");
                    }
                },
                error: function (error) {
                    //window.location.href = "../Public/Error4O4";
                    var responseTitle = $(error.responseText).filter('title').get(0);
                   
                    if (responseTitle.innerHTML =="درخواستی موجود نیست")
                        $.growl.error({ message: responseTitle.innerHTML });
                    else
                        window.location.href = "../Public/Error4O4";

                }
            });
    });

</script>