﻿
<!DOCTYPE html>

<html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<!--<![endif]-->
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css/MainStyle")
  
    <style>
        #jqueryLoader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(213, 211, 211);
            filter: alpha(opacity=40);
            -moz-opacity: 0.4;
            -khtml-opacity: 0.4;
            opacity: 0.4;
            z-index: 10000;
        }

        .ui-widget {
            position: fixed;
            top: 50%;
            left: 50%;
        }
    </style>
</head>
<body class="theme-asphalt main-menu-animated page-profile right-to-left">
    <div id="jqueryLoader" style="display: none;">
        <div class="ui-widget">
            <img src="~/Images/SiteLoader.gif" />
        </div>
    </div>
    <script>var init = [];</script>

    <div id="main-wrapper" style="display:none">

        <div id="main-navbar" class="navbar navbar-inverse" role="navigation">
            <button type="button" id="main-menu-toggle"><i class="navbar-icon fa fa-bars icon"></i><span class="hide-menu-text">HIDE MENU</span></button>

            <div class="navbar-inner">
                <div class="navbar-header">
                    <a href="~/Public/index" class="navbar-brand"> صفحه اصلی</a>

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

                </div>

                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse">
                    <a href="~/Public/index" class="navbar-brand" style="color:white"> </a>
                    <div class="right clearfix">
                        <ul class="nav navbar-nav pull-right right-navbar-nav">

                            <li class="nav-icon-btn nav-icon-btn-danger dropdown">
                                <a href="#notifications" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="label">5</span>
                                    <i class="nav-icon fa fa-bullhorn"></i>
                                    <span class="small-screen-text">Notifications</span>
                                </a>

                                <!-- NOTIFICATIONS -->
                                <!-- Javascript -->
                                <!-- / Javascript -->

                                <div class="dropdown-menu widget-notifications no-padding" style="width: 300px">
                                    <div class="notifications-list" id="main-navbar-notifications">

                                        <div class="notification">
                                            <div class="notification-title text-danger">SYSTEM</div>
                                            <div class="notification-description"><strong>Error 500</strong>: Syntax error in index.php at line <strong>461</strong>.</div>
                                            <div class="notification-ago">12h ago</div>
                                            <div class="notification-icon fa fa-hdd-o bg-danger"></div>
                                        </div> <!-- / .notification -->

                                        <div class="notification">
                                            <div class="notification-title text-info">STORE</div>
                                            <div class="notification-description">You have <strong>9</strong> new orders.</div>
                                            <div class="notification-ago">12h ago</div>
                                            <div class="notification-icon fa fa-truck bg-info"></div>
                                        </div> <!-- / .notification -->

                                        <div class="notification">
                                            <div class="notification-title text-default">CRON DAEMON</div>
                                            <div class="notification-description">Job <strong>"Clean DB"</strong> has been completed.</div>
                                            <div class="notification-ago">12h ago</div>
                                            <div class="notification-icon fa fa-clock-o bg-default"></div>
                                        </div> <!-- / .notification -->

                                        <div class="notification">
                                            <div class="notification-title text-success">SYSTEM</div>
                                            <div class="notification-description">Server <strong>up</strong>.</div>
                                            <div class="notification-ago">12h ago</div>
                                            <div class="notification-icon fa fa-hdd-o bg-success"></div>
                                        </div> <!-- / .notification -->

                                        <div class="notification">
                                            <div class="notification-title text-warning">SYSTEM</div>
                                            <div class="notification-description"><strong>Warning</strong>: Processor load <strong>92%</strong>.</div>
                                            <div class="notification-ago">12h ago</div>
                                            <div class="notification-icon fa fa-hdd-o bg-warning"></div>
                                        </div> <!-- / .notification -->

                                    </div> <!-- / .notifications-list -->
                                    <a href="#" class="notifications-link">MORE NOTIFICATIONS</a>
                                </div> <!-- / .dropdown-menu -->
                            </li>
                            <li class="nav-icon-btn nav-icon-btn-success dropdown">
                                <a href="#messages" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="label">10</span>
                                    <i class="nav-icon fa fa-envelope"></i>
                                    <span class="small-screen-text">Income messages</span>
                                </a>

                                <!-- MESSAGES -->
                                <!-- Javascript -->
                                <script>
                                    init.push(function () {
                                        $('#main-navbar-messages').slimScroll({ height: 250 });
                                    });
                                </script>
                                <!-- / Javascript -->

                                <div class="dropdown-menu widget-messages-alt no-padding" style="width: 300px;">
                                    <div class="messages-list" id="main-navbar-messages">

                                        <div class="message">
                                            @*  <img src="../demo/avatars/2.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                                            <div class="message-description">
                                                from <a href="#">Robert Jang</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            @*  <img src="assets/demo/avatars/3.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                            <div class="message-description">
                                                from <a href="#">Michelle Bortz</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            @*<img src="assets/demo/avatars/4.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
                                            <div class="message-description">
                                                from <a href="#">Timothy Owens</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            @*<img src="assets/demo/avatars/5.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                            <div class="message-description">
                                                from <a href="#">Denise Steiner</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            @* <img src="assets/demo/avatars/2.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
                                            <div class="message-description">
                                                from <a href="#">Robert Jang</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            @* <img src="assets/demo/avatars/2.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
                                            <div class="message-description">
                                                from <a href="#">Robert Jang</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            @* <img src="assets/demo/avatars/3.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                            <div class="message-description">
                                                from <a href="#">Michelle Bortz</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            @*<img src="assets/demo/avatars/4.jpg" alt="" class="message-avatar">*@
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
                                            <div class="message-description">
                                                from <a href="#">Timothy Owens</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            <img src="assets/demo/avatars/5.jpg" alt="" class="message-avatar">
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</a>
                                            <div class="message-description">
                                                from <a href="#">Denise Steiner</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                        <div class="message">
                                            <img src="assets/demo/avatars/2.jpg" alt="" class="message-avatar">
                                            <a href="#" class="message-subject">Lorem ipsum dolor sit amet.</a>
                                            <div class="message-description">
                                                from <a href="#">Robert Jang</a>
                                                &nbsp;&nbsp;·&nbsp;&nbsp;
                                                2h ago
                                            </div>
                                        </div> <!-- / .message -->

                                    </div> <!-- / .messages-list -->
                                    <a href="#" class="messages-link">MORE MESSAGES</a>
                                </div> <!-- / .dropdown-menu -->
                            </li>

                            <li>
                                <form class="navbar-form pull-left">
                                    <input type="text" class="form-control" placeholder="جستجو">
                                </form>
                            </li>

                            <li class="dropdown">
                                <a href="@Url.Action("logOut", "SignUp")">

                                    <span>خروج</span>
                                </a>

                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

        <div id="main-menu" role="navigation">
            <div id="main-menu-inner">
                <div class="menu-content top" id="menu-content-demo">
                    <div>
                        <div class="text-bg"><span class="text-semibold" id="Username_span">John</span></div>

                        <img src="~/Images/avatar.png" alt="" class="">
                        <div class="btn-group">
                            <a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-envelope"></i></a>
                            <a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-user"></i></a>
                            <a href="#" class="btn btn-xs btn-primary btn-outline dark"><i class="fa fa-cog"></i></a>
                            <a href="#" class="btn btn-xs btn-danger btn-outline dark"><i class="fa fa-power-off"></i></a>
                        </div>
                    </div>
                </div>
                <ul class="navigation">
                    <li>
                        <a href="index.html"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">خانه</span></a>
                    </li>
                    <li>
                        <a href="index.html"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">درخواست ها</span></a>
                    </li>
                    <li>
                        <a href="index.html"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">وسایل نقلیه</span></a>
                    </li>
                    <li>
                        <a href="index.html"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">قرارداد ها</span></a>
                    </li>
                    <li>
                        <a href="widgets.html"><i class="menu-icon fa fa-flask"></i><span class="mm-text">باربری ها</span></a>
                    </li>
                    <li>
                        <a href="stat-panels.html"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">تنظیمات</span></a>
                    </li>

                </ul>
            </div>
        </div>

        @RenderBody()
        <div id="main-menu-bg"></div>
    </div>

    @Scripts.Render("~/Scripts/bottom-js")

    <script type="text/javascript">
        init.push(function () {
            $(document).ajaxStart(function () {
                $("#jqueryLoader").show();
            });

            $(document).ajaxStop(function () {
                $("#jqueryLoader").hide();
            });
            $('#main-wrapper').show();
            $.ajax({
                type: "POST",
                url: '@Url.Action("whoIsIt", "Login")',
                dataType: 'html',
                success: function (data) {
                    if (data == "customer") {
                        getCustomerName();
                    } else {
                        getPorterageName();
                    }
                },
                error: function (error) {
                    var responseTitle = $(error.responseText).filter('title').get(0);
                    $.growl.error({ message: responseTitle.innerHTML });
                }
            });
            function getCustomerName() {
               // alert("hi");
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("customerInfo", "CustomerHome")',
                    dataType: 'html',
                    success: function (data) {
                        var data = JSON.parse(data)[0];
                       // alert(data[0].UserName);
                        $('#Username_span').html(data.UserName);
                    },
                    error: function (error) {
                        window.location.href = "../Public/Login";
                        var responseTitle = $(error.responseText).filter('title').get(0);
                        $.growl.error({ message: responseTitle.innerHTML });
                    }
                });
            }
            function getPorterageName() {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("getuser", "PorterageHome")',
                    dataType: 'html',
                    success: function (data) {
                       
                        var data = JSON.parse(data);
                       // alert(JSON.stringify(data));
                        $('#Username_span').html(data);
                    },
                    error: function (error) {
                        window.location.href = "../Public/Login";
                        var responseTitle = $(error.responseText).filter('title').get(0);
                        $.growl.error({ message: responseTitle.innerHTML });
                    }
                });
            }
        });
        window.PixelAdmin.start(init);
    </script>
  
</body>

</html>
