﻿@{
    ViewBag.Title = "ثبت نام";
}



<!DOCTYPE html>
<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="gt-ie8 gt-ie9 not-ie">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    @Styles.Render("~/Content/css/MainStyle")

    <!-- Open Sans font from Google CDN -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">
    <style>
        #jqueryLoader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgb(128, 128, 128);
            filter: alpha(opacity=40);
            -moz-opacity: 0.4;
            -khtml-opacity: 0.4;
            opacity: 0.4;
            z-index: 10000;
        }

        .ui-widget {
            position: fixed;
            top: 50%;
            left: 50%;
        }
    </style>
    
</head>


<body class="theme-default page-signup right-to-left">
    <div id="jqueryLoader" style="display: none;">
        <div class="ui-widget">
            <img src="~/Images/SiteLoader.gif" />
        </div>
    </div>
    <script>var init = [];</script>

    
        <div id="page-signup-bg" style="z-index:0">
            <!-- Background overlay -->
            <div class="overlay"></div>
            <!-- Replace this with your bg image -->
            <img src="~/Images/signin-bg-1.jpg" alt="">

        </div>
        <div id="main-navbar" class="navbar navbar-inverse bg-dark-gray" role="navigation">

            <div class="navbar-inner bg-dark-gray">
                <!-- Main navbar header -->
                <div class="navbar-header bg-dark-gray">

                    <!-- Logo -->
                    <a href="index" class="navbar-brand" style="color:white"> صفحه اصلی</a>
                    <a href="Login" class="navbar-brand" style="color:white" id="LoginLink"> ورود</a>
                    <a href="#" id="PanelLink" class="navbar-brand" style="color:white">پنل کاربری</a>
                    <a href="SignUp"  style="color:white"> ثبت نام</a>
                    

                    <!-- Main navbar toggle -->
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-navbar-collapse"><i class="navbar-icon fa fa-bars"></i></button>

                </div> <!-- / .navbar-header -->

                <div id="main-navbar-collapse" class="collapse navbar-collapse main-navbar-collapse bg-dark-gray">
                    <div class="right clearfix">
                        <ul class="nav navbar-nav pull-right right-navbar-nav">
                            <li>
                                <form class="navbar-form pull-left">
                                    <input type="text" class="form-control" placeholder="جستجو">
                                </form>
                            </li>


                        </ul>
                    </div>

                </div>
            </div>
        </div>

        @RenderBody()

        @*@Scripts.Render("~/Scripts/bottom-js")*@
        <script type="text/javascript">

            $(document).ready(function () {
                $(document).ajaxStart(function () {
                    $("#jqueryLoader").show();
                });

                $(document).ajaxStop(function () {
                    $("#jqueryLoader").hide();
                });
            });
            init.push(function () {
                $(document).ajaxStart(function () {
                    $("#jqueryLoader").show();
                });

                $(document).ajaxStop(function () {
                    $("#jqueryLoader").hide();
                });
                $('#main-wrapper').show();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("whoIsIt", "Login")',
                    dataType: 'html',
                    success: function (data) {
                        $('#LoginLink').hide();
                        if (data == "customer") {
                            getCustomerName();
                        } else {
                            getPorterageName();
                        }
                    },
                    error: function (error) {
                        $('#PanelLink').hide();
                    }
                });
                function getCustomerName() {
                    // alert("hi");
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("customerInfo", "CustomerHome")',
                        dataType: 'html',
                        success: function (data) {
                            var data = JSON.parse(data)[0];
                            $('#PanelLink').attr('href',"../Customer/CustomerHome");
                            // alert(data[0].UserName);
                            //$('#Username_span').html(data.UserName);
                        },
                        error: function (error) {
                          
                        }
                    });
                }
                function getPorterageName() {
                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("getuser", "PorterageHome")',
                        dataType: 'html',
                        success: function (data) {
                            $('#PanelLink').attr('href', "../Portergae/PorterageHome");
                        },
                        error: function (error) {
                          
                        }
                    });
                }
            });
            window.PixelAdmin.start(init);
            PanelLink
        </script>

</body>
</html>