﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<div class="signup-container" style="width:99%;">
    @Scripts.Render("~/Scripts/bottom-js")
 
    <div class="panel panel-primary panel-dark">
        <div class="panel-heading ">
            <span class="panel-title text-bold" style="color:white"><i class="fa fa-link"></i>&nbsp;&nbsp;&nbsp;مشخصات بار</span>
        </div>

        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PackFrm" }))
{
    <div class="panel-body">

        <div class="row">
            <div class="col-md-4">
                <label class="control-label col-md-2">وزن</label>
                <div class="input-group col-md-10">
                    <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                    <select id="weight_select" class="form-control" name="weight"></select>
                </div>
            </div>

            <div class="col-md-4">
                <label class="control-label col-md-2">نوع بار</label>
                <div class="input-group col-md-10">
                    <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                    <select id="type_select" class="form-control" name="kind"></select>
                </div>
            </div>

            <div class="col-md-4">
                <label class="control-label col-md-2">حجم</label>
                <div class="input-group col-md-10">
                    <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                    <select class="form-control" id="dimension_select" name="value"></select>
                </div>
            </div>
        </div><br><br>
        <div class="row">
            <div class="col-md-4">
                <label class="control-label col-md-2">مبدا</label>
                <div class="input-group col-md-10">
                    <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                    <select id="source_select" class="form-control" name="source"></select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="control-label col-md-2">مقصد</label>
                <div class="input-group col-md-10">
                    <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                    <select id="dest_select" class="form-control" name="desti"></select>
                </div>
            </div>

            <div class="col-md-4">
                <input type="button" class="btn  btn-info col-md-12" id="SeeResultBtn" value="مشاهده ی نتیجه">

            </div>
        </div>
        <div class="row">
            <span>قیمت حدودی بار شما:</span><span id="price"></span>
        </div>
    </div>
}
    </div>
   

    <div class="panel widget-messages-alt panel-primary panel-dark" id="porteragelist" style="display:none">
        <div class="panel-heading">
            <span class="panel-title text-bold" style="color:white"><i class="fa fa-link"></i>&nbsp;&nbsp;&nbsp;لیست باربری ها</span>
        </div> 
        <div class="panel-body padding-sm">
            <div class="messages-list" id="porteragedetail">
               


            </div> 
            <a href="#" class="messages-link">ادامه ...</a>
        </div> 
    </div> 
</div>
<script>
    init.push(function () {
        $('#uidemo-modals-effects-btn').on('click', function () {
            var $modal = $('#uidemo-modals-effects-template').clone(true);
            $modal.find('> div').addClass('modal-dialog modal-sm animated ' + $('#uidemo-modals-effects-select').find(":selected").attr('value'));
            $modal.modal('show');
        });


        $.ajax({
            type: "get",
            url: '@Url.Action("Details", "Index")',
            dataType: 'html',
        
            success: function (data) {
                var data = JSON.parse(data);
                //   alert(JSON.stringify(data));
                var packtype = data.Kind;
                var desti = data.Destination;
                var Value = data.Value;
                var Source = data.Source;
                var weight = data.Weight;
                for (var i = 0; i < packtype.length; i++) {
                    var opt = new Option(packtype[i].TypeName, packtype[i].Id);
                    $('#type_select').append(opt);
                }
                for (var i = 0; i < desti.length; i++) {
                    var opt = new Option(desti[i].Desti, desti[i].ID);
                    $('#dest_select').append(opt);
                }
                for (var i = 0; i < Source.length; i++) {
                    var opt = new Option(Source[i].Desti, Source[i].Desti);
                    $('#source_select').append(opt);
                }
                for (var i = 0; i < weight.length; i++) {
                    var opt = new Option(weight[i].Vehicle_Weight, weight[i].ID);
                    $('#weight_select').append(opt);
                }
                for (var i = 0; i < Value.length; i++) {
                    var opt = new Option(Value[i].Vehicle_Value, Value[i].ID);
                    $('#dimension_select').append(opt);
                }
            },
            error: function (error) {
                var responseTitle = $(error.responseText).filter('title').get(0);
                $.growl.error({ message: responseTitle.innerHTML });
            }
        });
       
    });
   
    window.PixelAdmin.start(init);

    $('#SeeResultBtn').click(function () {
       // alert("hi");
              $.ajax({
                 type: "POST",
                 url: '@Url.Action("Search", "Index")',
                 dataType: 'html',
                 data: $('#PackFrm').serialize(),
                 success: function (data) {
                     var data = JSON.parse(data);
                   //  alert(JSON.stringify(data));
                     
                     if (data.price !=[] && data.price !="")
                        $('#price').html(data.price);
                      data = data.porterages;
                     var html="";
                     for (var i = 0; i < data.length; i++) {
                         //alert(JSON.stringify(data[i][0]))
                         html += '<div class="message">'
                             + '            <img src="~/Images/avatar.png" alt="" class="message-avatar">'
                             + '            <a href="@Url.Action("PorterageInfo", "Public")?Id='+data[i][0].Id+'&source='+$('#source_select').val()+'&desti='+$('#dest_select').val()+'&type='+$('#type_select').val()+'&weight='+$('#weight_select').val()+'&value='+ $('#dimension_select').val()+'" class="message-subject">' + data[i][0].Name + '</a>'
                             + '            <div class="message-description">' + data[i][0].Address +"-" +data[i][0].PhoneNumber+' </div>'
                             + '       </div>';
                     }
                     $("#porteragedetail").html(html);
                     $('#porteragelist').show();
                 },
                 error: function (error) {
                     var responseTitle = $(error.responseText).filter('title').get(0);
                     $.growl.error({ message: responseTitle.innerHTML });
                 }
             });
             });


</script>        
    

