﻿@{
    ViewBag.Title = "ورود";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
<style>
    #signup-demo {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 10000;
        background: rgba(0,0,0,.6);
        padding: 6px;
        border-radius: 3px;
    }

        #signup-demo img {
            cursor: pointer;
            height: 40px;
        }

            #signup-demo img:hover {
                opacity: .5;
            }

        #signup-demo div {
            color: #fff;
            font-size: 10px;
            font-weight: 600;
            padding-bottom: 6px;
        }
</style>



<div class="signup-container">
    <!-- Header -->
    <div class="signup-header">
        <a href="index.html" class="logo">
            باربر
        </a> <!-- / .logo -->

    </div>
    <!-- / Header -->
    <!-- Form -->
    <div class="signup-form">
    
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "loginFrm" }))
        {
            <div >

                <div class="signup-text">
                    <span>ورود به حساب کاربری</span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="username" id="username_id" class="form-control input-lg" placeholder="نام کاربری">
                    <span class="fa fa-user signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="password" name="password" id="password_id" class="form-control input-lg" placeholder="رمز عبور">
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>

                <div class="form-actions">
                    <input type="button" value="ورود" class="signup-btn bg-primary" id="LoginBtn">
                </div>
            </div>
        }
        <div id="message" style="padding:20px;color:red"></div>
    </div>
</div>

<div class="have-account">
    Not a member? <a href="SignUp">Sign Up</a>
</div>

@Scripts.Render("~/Scripts/bottom-js")
<script type="text/javascript">


        init.push(function () {
                  $("#signup-form_id").validate({ focusInvalid: true, errorPlacement: function () { } });
        });

        window.PixelAdmin.start(init);
        
        $('#LoginBtn').click(function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("SignIn", "Login")',
                dataType: 'html',
                data: $('#loginFrm').serialize(),
                success: function (data) {
                    window.location.href = data;
                  //  $('#message').html(JSON.stringify(data));
                },
                error: function (error) {
                    var responseTitle = $(error.responseText).filter('title').get(0);
                    $.growl.error({ message: responseTitle.innerHTML });
                }
            });
        });
</script>

