﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>@ViewBag.Title</title>
<style>
    #signup-demo {
        position: fixed;
        right: 0;
        bottom: 0;
        z-index: 10000;
        background: rgba(0,0,0,.6);
        padding: 6px;
        border-radius: 3px;
    }

        #signup-demo img {
            cursor: pointer;
            height: 40px;
        }

            #signup-demo img:hover {
                opacity: .5;
            }

        #signup-demo div {
            color: #fff;
            font-size: 10px;
            font-weight: 600;
            padding-bottom: 6px;
        }
</style>

<div class="signup-container" style="width:50%;">

    <div class="panel panel-primary panel-dark">
        <div class="panel-heading">
            <img src="~/Images/avatar.png" alt="" class="widget-profile-avatar">
            <div class="widget-profile-header">
                <span id="portragename">name</span><br>
            </div>
        </div>
        <div class="panel-body">
            <div class="messages-list" >
                <div class="message">
                    <label for="ownername">نام مدیر عامل:</label>
                    <span class="message-subject" id="ownername"></span>
                </div><hr>
                <div class="message">
                    <label for="address">آدرس:</label>
                    <span class="message-subject" id="address"></span>
                </div><hr>
                <div class="message ">
                    <label for="phone">تلفن:</label>
                    <span class="message-subject" id="phone"></span>
                </div><hr>
                <div class="message">
                    <label for="email">ایمیل:</label>
                    <span class="message-subject" id="email"></span>
                </div><hr>
                <div class="message">
                    <label for="type">نوع بار:</label>
                    <span class="message-subject" id="type"></span>
                </div><hr>
                <div class="message" >
                    <label for="desi">مقصد ها:</label>
                    <span class="message-subject" id="desi"></span>
                </div><hr>
            </div>

            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">درخواست حمل بار</button>
        </div>
        </div>
    </div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">درخواست حمل بار</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "reqFrm" }))
                {
                    <div class="panel-body">
                        <input type="text" name="porId" class="form-control input-lg col-md-9" value="@ViewBag.Id" style="display:none">
                        <div class="row">
                            <div class="col-md-4">
                                <label class="control-label">وزن</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label ">نوع بار</label>
                            </div>
                            <div class="col-md-4">
                                <label class="control-label">حجم</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                               
                                <div class="input-group col-md-10">
                                    <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                                    <select id="weight_select" class="form-control" name="weight"></select>
                                </div>
                            </div>

                        <div class="col-md-4">
                            
                            <div class="input-group col-md-10">
                                <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                                <select id="type_select" class="form-control" name="packId"></select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            
                            <div class="input-group col-md-10">
                                <span class="input-group-addon text-warning"><i class="fa fa-circle"></i></span>
                                <select class="form-control" id="dimension_select" name="vehId"></select>
                            </div>
                        </div>
                        </div>
                        <br><br>
                    
                  
                            <div class="row">
                                <label class="control-label col-md-1">مبدا</label>
                                <div class="input-group col-md-3">
                                    <span class="input-group-addon bg-warning text-success input-lg"><i class="fa fa-group"></i></span>
                                    <select id="ddlCity_source" name="sourceCity" class="form-control mydropdown input-lg"></select>
                                </div>
                                <div class="input-group  col-md-8">

                                    <input type="text" id="sourceadress"  class="form-control input-lg col-md-9" placeholder="آدرس" value="@ViewBag.sourceaddress">
                                </div>
                            </div><br><br>
                            <div class="row">
                                <label class="control-label col-md-1">مقصد</label>
                                <div class="input-group col-md-3">
                                    <span class="input-group-addon bg-warning text-success input-lg"><i class="fa fa-group"></i></span>
                                    <select id="ddlCity_desti" name="desId" class="form-control mydropdown input-lg"></select>
                                </div>
                                <div class="input-group  col-md-8">

                                    <input type="text" name="de" class="form-control input-lg col-md-9" placeholder="آدرس" value="@ViewBag.destiaddress">
                                </div>
                            </div>
                
                    </div>
                }
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="colsemodal">انصراف</button>
                <input type="button" class="btn btn-primary" id="SubmitRequestBtn" value="ثبت درخواست" />
            </div>
        </div> 
    </div>
</div>
    @Scripts.Render("~/Scripts/bottom-js")
    <script>
        init.push(function () {
            var desti1="@ViewBag.Desti";
            var source1 = "@ViewBag.source";
            var packtype1 = "@ViewBag.type";
            var weight1 = "@ViewBag.weight";
            var value1= "@ViewBag.value";
           // alert(desti + "-" + source + "-" + packtype + "-" + value + "-" + weight);


            $.ajax({
                type: "POST",
                url: '@Url.Action("porterageinfo", "PorterageInfo")',
                dataType: 'html',
                data: {id:"@ViewBag.Id"},
                success: function (data) {
                    var data = JSON.parse(data);
                    var porterage=data.Porterage[0];
                    var desties=data.Destination;
                    var Type = data.PackType;
                    var typehtml = "";
                    var destihtml = "";
                    for (var i = 0; i < Type.length; i++) {
                        typehtml += Type[i]+",";
                    }
                    type.innerHTML = typehtml;
                    for (var i = 0; i < desties.length; i++) {
                        destihtml += desties[i] + ",";
                    }
                    desi.innerHTML = destihtml;
                  //  alert(JSON.stringify(porterage));
                    address.innerHTML = porterage.Source + "," + porterage.Address;
                    ownername.innerHTML = porterage.OwnerName;
                    phone.innerHTML = porterage.PhoneNumber;
                    email.innerHTML = porterage.Email;
                    portragename.innerHTML = porterage.Name;

                },
                error: function (error) {
                    var responseTitle = $(error.responseText).filter('title').get(0);
                    $.growl.error({ message: responseTitle.innerHTML });
                }
            });


            $.ajax({
                type: "get",
                url: '@Url.Action("Details", "Index")',
                dataType: 'html',

                success: function (data) {
                    var data = JSON.parse(data);
                      // alert(JSON.stringify(data));
                    var packtype = data.Kind;
                    var desti = data.Destination;
                    var Value = data.Value;
                    var Source = data.Source;
                    var weight = data.Weight;
                    for (var i = 0; i < packtype.length; i++) {
                        var opt = new Option(packtype[i].TypeName, packtype[i].Id);
                        $('#type_select').append(opt);
                    }
                    for (var i = 0; i < desti.length; i++) {
                        var opt = new Option(desti[i].Desti, desti[i].ID);
                        $('#ddlCity_desti').append(opt);
                    }
                    for (var i = 0; i < Source.length; i++) {
                        var opt = new Option(Source[i].Desti, Source[i].Desti);
                        $('#ddlCity_source').append(opt);
                    }
                    for (var i = 0; i < weight.length; i++) {
                        var opt = new Option(weight[i].Vehicle_Weight, weight[i].ID);
                        $('#weight_select').append(opt);
                    }
                    for (var i = 0; i < Value.length; i++) {
                        var opt = new Option(Value[i].Vehicle_Value, Value[i].ID);
                        $('#dimension_select').append(opt);
                    }
                    if (desti1 != null)
                        $("#ddlCity_desti").val(desti1);
                    if (weight1 != null)
                        $("#weight_select").val(weight1);
                    if (packtype1 != null)
                        $("#type_select").val(packtype1);
                    if (source1 != null)
                        $("#ddlCity_source").val(source1);
                    if (value1 != null)
                        $("#dimension_select").val(value1);
                },
                error: function (error) {
                    var responseTitle = $(error.responseText).filter('title').get(0);
                    $.growl.error({ message: responseTitle.innerHTML });
                }
            });
        });

        $('#SubmitRequestBtn').click(function () {
           // alert($('#ddlCity_source').val() + ',' + $('#sourceadress').val());
            $.ajax({
                type: "POST",
                url: '@Url.Action("request", "PorterageInfo")',
                dataType: 'html',
                data: $('#reqFrm').serialize()+"&so="+$('#ddlCity_source').val()+','+$('#sourceadress').val(),
                success: function (data) {
                    $.growl.notice({ message: "ثبت درخواست با موفقیت انجام شد" });
                    $('#colsemodal').click();
                },
                error: function (error) {
                    var responseTitle = $(error.responseText).filter('title').get(0);
                    $.growl.error({ message: responseTitle.innerHTML });
                }
            });
        });

        
        window.PixelAdmin.start(init);
    </script>
