﻿@{
    ViewBag.Title = "ثبت نام";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<title>@ViewBag.Title</title>
    <style>
        #signup-demo {
            position: fixed;
            right: 0;
            bottom: 0;
            z-index: 10000;
            background: rgba(0,0,0,.6);
            padding: 6px;
            border-radius: 3px;
        }

            #signup-demo img {
                cursor: pointer;
                height: 40px;
            }

                #signup-demo img:hover {
                    opacity: .5;
                }

            #signup-demo div {
                color: #fff;
                font-size: 10px;
                font-weight: 600;
                padding-bottom: 6px;
            }
    </style>



    <div class="signup-container" style="width:50%">

        <div class="signup-header"><a href="index.html" class="logo"> باربر</a> <!-- / .logo -->    </div>

        <div class="signup-form">
            <div  id="signup_option" style="padding-right:10px;">
                <div class="signup-text">
                    <span>ایجاد حساب کاربری</span>
                </div>
                <div class="messages-list" style="text-align:center;cursor:pointer">

                    <div class="message bg-pa-purple input-lg" id="CustomerSignUpBtn">
                        <span  class="message-subject">ثبت نام به عنوان مشتری</span>
                    </div> 
                    <div class="message bg-light-green input-lg" id="PorterageSignUpBtn">
                        <span class="message-subject">ثبت نام به عنوان باربری</span>
                    </div> 
                    <div class="message bg-info input-lg" id="DriverSignUpBtn">
                        <span class="message-subject">ثبت نام به عنوان راندده وسیله ی نقلیه</span>
                    </div> 
                </div>          
            </div>
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "CustomerFrm" }))
            {
            <div  id="signup-as-customer" style="display:none">

                <div class="signup-text">
                    <span>ایجاد حساب کاربری</span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="fname" class="form-control input-lg" placeholder="نام">
                    <span class="fa fa-info signup-form-icon"></span>
                </div>
                <div class="form-group w-icon">
                    <input type="text" name="lname"  class="form-control input-lg" placeholder="نام خانوادگی">
                    <span class="fa fa-info signup-form-icon"></span>
                </div>
                <div class="form-group w-icon">
                    <input type="text" name="emil"  class="form-control input-lg" placeholder="ایمیل">
                    <span class="fa fa-envelope signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="address" class="form-control input-lg" placeholder="آدرس">
                    <span class="fa fa-user signup-form-icon"></span>
                </div>
                <div class="form-group w-icon">
                    <input type="text" name="phone" class="form-control input-lg" placeholder="تلفن">
                    <span class="fa fa-user signup-form-icon"></span>
                </div>
                <div class="form-group w-icon">
                    <input type="text" name="username" class="form-control input-lg" placeholder="نام کاربری">
                    <span class="fa fa-user signup-form-icon"></span>
                </div>
                <div class="form-group w-icon">
                    <input type="password" name="password" id="password_id" class="form-control input-lg" placeholder="رمز عبور">
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>


                <div class="form-actions">
                    <input type="button" value="ثبت نام" class="signup-btn bg-primary" id="SignUpAsCustomerBtn">
                </div>
            </div>
            }
          
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "PorteragerFrm" }))
                {
                    <div id="signup-as-porterage" style="display:none">
                        <div class="signup-text">
                            <span>ایجاد حساب کاربری</span>
                        </div>

                        <div id="FirstPagePorterage">
                           
                            <div class="input-group input-group-lg form-group">
                                <span class="input-group-addon bg-warning "><i class="fa fa-group "></i></span>
                                <input type="text" name="name" class="form-control " placeholder=" نام شرکت">
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <span class="input-group-addon bg-warning "><i class="fa fa-group "></i></span>
                                <input type="text" name="owner" class="form-control" placeholder="نام مدیر عامل ">
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <span class="input-group-addon bg-warning "><i class="fa fa-group "></i></span>
                                <input type="text" name="ownerid" class="form-control " placeholder="کد ملی مدیر عامل">
                            </div>

                            <div class="input-group input-group-lg form-group">
                                <span class="input-group-addon bg-warning "><i class="fa fa-group "></i></span>
                                <input type="text" name="code" class="form-control" placeholder="کد ثبت">
                                
                            </div>
                            <div class="input-group input-group-lg form-group">
                                <span class="input-group-addon bg-warning "><i class="fa fa-group "></i></span>
                                <input type="text" name="phone" class="form-control " placeholder="تلفن">
                            </div>
                            <div class="input-group input-group-lg form-group ">
                                <span class="input-group-addon bg-warning text-success  "><i class="fa fa-group "></i></span>
                                <input type="text" name="email" class="form-control" placeholder="ایمیل">
                                @*<span class="fa fa-user signup-form-icon"></span>*@
                            </div>
                            
                            <div class="form-group w-icon">
                                    <div class="input-group col-md-3" >
                                        <span class="input-group-addon bg-warning text-success input-lg"><i class="fa fa-group"></i></span>
                                        <select id="ddlCity" name ="source" class="form-control mydropdown input-lg">
                                           
                                        </select>
                                    </div>
                                <div class="input-group  col-md-9">

                                    <input type="text" name="addre" class="form-control input-lg col-md-9" placeholder="آدرس">
                                </div>

                            </div>


                            <div class="form-actions">
                                <input type="button" value="بعدی" class="signup-btn bg-primary" id="NextBtn">
                            </div>
                        </div>
                        <div id="LastPagePorterage" style="display:none">
                                <table style="width:100%;">
                                    <tbody>
                                        <tr>
                                            <td class="col-sm-2 "><label class="control-label">مقصد ها:</label></td>
                                            <td class="col-sm-8">
                                                <div class="row">
                                                    <div class="input-group">
                                                        <span class="input-group-addon bg-warning text-success"><i class="fa fa-group"></i></span>
                                                        <select id="ddlDesti" class="form-control mydropdown" >
                                                           
                                                        </select>
                                                    </div>
                                                </div>

                                            </td>

                                            <td class="col-sm-2">
                                                <div class="btn-group">
                                                    <button type="button" id="btnAddDesti" class="btn btn-primary"><span class="btn-label icon fa fa-check"></span></button>
                                                </div>
                                            </td>
                                        </tr>

                                    </tbody>

                                </table>
                                <div id="ShowDesti">
                                </div>

                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-2 "><label class="control-label">نوع بار ها:</label></td>
                                        <td class="col-sm-8">
                                            <div class="row">
                                                <div class="input-group">
                                                    <span class="input-group-addon bg-warning text-success"><i class="fa fa-group"></i></span>
                                                    <select id="ddlPackType" class="form-control mydropdown" >
                                                       
                                                    </select>
                                                </div>
                                            </div>

                                        </td>

                                        <td class="col-sm-2">
                                            <div class="btn-group">
                                                <button type="button" id="btnAddPackType" class="btn btn-primary"><span class="btn-label icon fa fa-check"></span></button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                            <div id="ShowPackType">
                            </div>

                            <table style="width:100%;">
                                <tbody>
                                    <tr>
                                        <td class="col-sm-2 "><label class="control-label">نوع وسایل نقلیه:</label></td>
                                        <td class="col-sm-8">
                                            <div class="row">
                                                <div class="input-group">
                                                    <span class="input-group-addon bg-warning text-success"><i class="fa fa-group"></i></span>
                                                    <select id="ddlVehicle" class="form-control mydropdown" >
                                                       
                                                    </select>
                                                </div>
                                            </div>

                                        </td>

                                        <td class="col-sm-2">
                                            <div class="btn-group">
                                                <button type="button" id="btnAddVehicle" class="btn btn-primary"><span class="btn-label icon fa fa-check"></span></button>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>
                            <div id="ShowVehicle">
                            </div>
                                <div class="form-actions">
                                    <input type="button" value="ثبت نام" class="signup-btn bg-primary" id="SignUpAsPorterageBtn">
                                </div>
                            </div>
                    </div>
                }
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "DriverFrm" }))
            { 
            <div id="signup-as-driver" style="display:none">

                <div class="signup-text">
                    <span>ایجاد حساب کاربری</span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="signup_name" id="name_id" class="form-control input-lg" placeholder="Full name">
                    <span class="fa fa-info signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="signup_email" id="email_id" class="form-control input-lg" placeholder="E-mail">
                    <span class="fa fa-envelope signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="text" name="signup_username" id="username_id" class="form-control input-lg" placeholder="Username">
                    <span class="fa fa-user signup-form-icon"></span>
                </div>

                <div class="form-group w-icon">
                    <input type="password" name="signup_password" id="password_id" class="form-control input-lg" placeholder="Password">
                    <span class="fa fa-lock signup-form-icon"></span>
                </div>

                <div class="form-actions">
                    <input type="button" value="ثبت نام" class="signup-btn bg-primary" id="SignUpAsDriverBtn">
                </div>
            </div>
            }
            <div id="message" style="padding:20px;color:red"></div>
        </div>
    </div>

    <div class="have-account">
        Already have an account? <a href="Login">Sign In</a>
    </div>
   
    @Scripts.Render("~/Scripts/bottom-js")
    <script type="text/javascript">


    init.push(function () {
        $("#jquery-select2-multiple").select2({
            placeholder: "Select a State"
        });
        $.ajax({
            type: "POST",
            url: '@Url.Action("Detail", "SignUp")',
            dataType: 'html',
            success: function (data) {
                var data = JSON.parse(data);
             //   alert(JSON.stringify(data));
                var packtype = data.packtype;
                var desti = data.destination;
                var vehicle = data.vehicle;
                for (var i = 0; i < packtype.length; i++) {
                    var opt = new Option(packtype[i].TypeName, packtype[i].Id);
                    $('#ddlPackType').append(opt);
                }
                for (var i = 0; i < desti.length; i++) {
                    var opt = new Option(desti[i].Desti, desti[i].ID);
                    $('#ddlDesti').append(opt);
                }
                for (var i = 0; i < desti.length; i++) {
                    var opt = new Option(desti[i].Desti, desti[i].Desti);
                    $('#ddlCity').append(opt);
                }
                for (var i = 0; i < vehicle.length; i++) {
                    var opt = new Option(vehicle[i].Vehicle_name, vehicle[i].ID);
                    $('#ddlVehicle').append(opt);
                }
             
            },
            error: function (error) {
                var responseTitle = $(error.responseText).filter('title').get(0);
                $.growl.error({ message: responseTitle.innerHTML });
            }
        });

        $('.wizard-next-step-btn').click(function () {
            $(this).parents('.ui-wizard-example').pixelWizard('nextStep');
        });

        $('.wizard-prev-step-btn').click(function () {
            $(this).parents('.ui-wizard-example').pixelWizard('prevStep');
        });

        $('.wizard-go-to-step-btn').click(function () {
            $(this).parents('.ui-wizard-example').pixelWizard('setCurrentStep', 2);
        });
    });

    window.PixelAdmin.start(init);
    $('#PorterageSignUpBtn').click(function () {
        $('#signup_option').hide();
        $('#signup-as-porterage').show();
    });
    $('#CustomerSignUpBtn').click(function () {
        $('#signup_option').hide();
        $('#signup-as-customer').show();
    });
    $('#DriverSignUpBtn').click(function () {
        $('#signup_option').hide();
        $('#signup-as-driver').show();
    });
    $('#SignUpAsCustomerBtn').click(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("SignupAsCustomer", "SignUp")',
            dataType: 'html',
            data: $('#CustomerFrm').serialize(),
            success: function (data) {

                $('#message').html(" ثبت نام با موفقیت انجام شد ");
            },
            error: function (error) {
                var responseTitle = $(error.responseText).filter('title').get(0);
                $.growl.error({ message: responseTitle.innerHTML });
            }
        });
    });
    $('#NextBtn').click(function () {
        $('#FirstPagePorterage').hide();
        $('#LastPagePorterage').show();
    });
    $('#SignUpAsPorterageBtn').click(function () {
        var vehicle = "";
        var desti = "";
        var packtype = "";
        $('.vehicleclass').each(function () {
            vehicle += $(this).text() + ",";
        });
        $('.desticlass').each(function () {
            desti += $(this).text() + ",";
        });
        $('.packclass').each(function () {
            packtype += $(this).text() + ",";
        });
        vehicle = vehicle.substring(0, vehicle.length - 1);
        desti = desti.substring(0, desti.length - 1);
        packtype = packtype.substring(0, packtype.length - 1);
       // alert(vehicle + "+" + desti + "+" + packtype);
        $.ajax({
                type: "POST",
                url: '@Url.Action("SignupPor", "SignUp")',
                dataType: 'html',
                data: $('#PorteragerFrm').serialize() + "&vehicle=" + vehicle + "&destination=" + desti + "&packType=" + packtype,
                success: function (data) {

                    $('#message').html(" نام کاربری با موفقیت انجام شد، نام کاربری و رمز عبور به ایمیل شما ارسال شده است. ");
                },
                error: function (error) {
                    var responseTitle = $(error.responseText).filter('title').get(0);
                    $.growl.error({ message: responseTitle.innerHTML });
                }
            });
    });
    $('#btnAddDesti').click(function () {
        setDesti($('#ddlDesti option:selected').text(), $('#ddlDesti').val());

    });

    function setDesti(name,id) {
        if (id != "") {
            var html = "<div class='label label-info' style='margin:5px;'>"
                                                + "<button type='button' class='close' data-dismiss='alert'>×</button>&nbsp;&nbsp;"
                                                + "<span  style='font-size: 14px;'>" + name + " </span>"
                                                    + "<span class='desticlass' style='font-size: 14px;display:none'>" + id + " </span>"
                                   + " </div>";
            $("#ShowDesti").append(html);
        }
    }

    $('#btnAddPackType').click(function () {
        setPackType($('#ddlPackType option:selected').text(), $('#ddlPackType').val());

    });

    function setPackType(name,id) {
        if (id != "") {
            var html = "<div class='label label-info' style='margin:5px;'>"
                                                + "<button type='button' class='close' data-dismiss='alert'>×</button>&nbsp;&nbsp;"
                                                    + "<span  style='font-size: 14px;'>" + name + " </span>"
                                                    + "<span class='packclass' style='font-size: 14px;display:none'>" + id + " </span>"
                                   + " </div>";
            $("#ShowPackType").append(html);
        }
    }

    $('#btnAddVehicle').click(function () {
        setVehicle( $('#ddlVehicle option:selected').text(), $('#ddlVehicle').val());

    });
    function setVehicle(name,id) {
        if (id != "") {
            var html = "<div class='label label-info' style='margin:5px;'>"
                                                + "<button type='button' class='close' data-dismiss='alert'>×</button>&nbsp;&nbsp;"
                                                    + "<span  style='font-size: 14px;'>" + name + " </span>"
                                                    + "<span class='vehicleclass' style='font-size: 14px;display:none'>" + id + " </span>"
                                   + " </div>";
            $("#ShowVehicle").append(html);
        }
    }
</script>
    
