﻿@{
    ViewBag.Title = "پنل باربری";
    Layout = "~/Views/Shared/_ControlPanel.cshtml";
}

<div id="content-wrapper">
    <div class="panel">
        <div class="panel-heading">
            <span class="panel-title">درخواست های مشتریان</span>
        </div>
        <div class="panel-body">
            <div class="table-primary" id="tbll">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" >
                    <thead>
                        <tr>
                            <th id="RequestId" style="display:none">شماره</th>
                            <th>نام مشتری</th>
                            <th>قیمت</th>
                            <th>نوع بار</th>
                            <th>نوع وسیله ی نقلیه</th>
                            <th>آدرس مبدا</th>
                            <th>آدرس مقصد</th>
                            <th>وضعیت درخواست</th>
                        </tr>
                    </thead>
                    <tbody id="requestTbl">
                      
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    
</div>
<script>
    init.push(function () {
        $('#jq-datatables-example').dataTable();
        $('#jq-datatables-example_wrapper .table-caption').text('Some header text');
        $('#jq-datatables-example_wrapper .dataTables_filter input').attr('placeholder', 'Search...');
        getDetail();
           
        
    });
    function getDetail() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("porteragehomeDetail", "PorterageHome")',
            dataType: 'html',
            success: function (data) {
                if (data != null && data != "") {
                    var data = JSON.parse(data);
                    if (data == "E")
                        window.location.href = "../Public/Login";
                   // alert(JSON.stringify(data));
                    var html = "";
                    for (var i = 0; i < data.length; i++) {
                        var stat = "";
                        if (data[i].status == 0) {
                            s = "در انتظار تایید";
                            stat = '   <div class="btn-toolbar" role="toolbar">'
                                        + '       <div class="btn-group">'
                                        + '            <input type="button" class="btn btn-success btn-lg" value="ثبت درخواست" onclick="ChaneStatuse(\'' + data[i].requestid + '\')"/>'
                                        + '            <input type="button" class="btn btn-danger btn-lg" value="رد درخواست" />'
                                        + '        </div>'
                                        + '    </div>';
                        } else if (data[i].status == 1) {
                            s = "تایید شده";
                        } else {
                            s = "لغو شده";
                        }
                        html += ' <tr class="gradeU">'
                                    + '<td style="display:none">' + data[i].requestid + '</td>'
                                    + '<td>' + data[i].porterageName[0].FirstName + " " + data[i].porterageName[0].LastName + '</td>'
                                    + '<td>' + data[i].Price + '</td>'
                                    + '<td>' + data[i].PackType[0] + '</td>'
                                    + '<td>' + data[i].VehicleName[0] + '</td>'
                                    + '<td>' + data[i].SourceDesti[0].SourceAddress + '</td>'
                                    + '<td>' + data[i].SourceDesti[0].destiAddress + '</td>'
                                    + '<td>' + s + stat + '</td>'
                              + ' </tr>';

                    }
                    $('#requestTbl').html(html);
                    // alert(JSON.stringify(data));
                } else {
                    $('#tbll').html("درخواستی وجود ندارد");
                }
            },
            error: function (error) {
                window.location.href = "../Public/Error4O4";
                var responseTitle = $(error.responseText).filter('title').get(0);
                $.growl.error({ message: responseTitle.innerHTML });
            }
        });

    }
    function ChaneStatuse(id) {
      //  alert(id);
        $.ajax({
            type: "POST",
            url: '@Url.Action("update", "PorterageHome")',
            dataType: 'html',
            data: { id: id },
            success: function (data) {
                $.growl.notice({ message: "درخواست با موفقیت ثبت شد" });
                getDetail();
            },
            error: function (error) {
                var responseTitle = $(error.responseText).filter('title').get(0);
                $.growl.error({ message: responseTitle.innerHTML });
            }
        });
    }
</script>